.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.title__container {
  background-color: var(--purple-500);

  height: 45%;
  width: 100%;

  padding: 2rem;

  color: var(--white-500);
}

.title__image {
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;


  margin-bottom: 2rem;
}

.title__message {
  font-size: .8rem;
}

.title__message--span {
  font-weight: bold;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 80%;

  margin-top: -10%;

  background-color: var(--white-500);

  padding: 1rem;

  border-radius: .5rem;
}

.form__container > h2 {
  font-weight: bold;
  font-size: 1.2rem;

  margin-bottom: 1rem;
}

.form__signup {
  display: flex;
  flex-direction: column;

  color: var(--color-text);
}

.form__signup > input {
  margin-bottom: 1rem;

  width: 350px;
  max-width: 90%;

  border: 1px solid var(--white-700);
  border-radius: .5rem;
  background-color: var(--white-700);

  padding: 15px;
}

.form__signup > input::placeholder {
  color: var(--color-placeholder);
}

.form__button, .form__button--signup {
  margin-bottom: 1rem;

  width: 350px;
  max-width: 105%;

  border: 1px solid var(--purple-500);
  border-radius: .5rem;
  background-color: var(--purple-500);

  padding: 15px;

  color: var(--white-500);
}

.form__signup > span {
  margin-bottom: 1rem;

  font-size: .8rem;

  text-align: center;
}

.form__button--signup {
  text-decoration: none;
  text-align: center;

  background-color: var(--white-700);
  color: var(--color-placeholder);
  border-color: var(--white-700);
}

@media (min-width: 1024px) {
  .login__container {
    width: 100vw;
    flex-direction: row;

    position: relative;
  }

  .title__container {
    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form__container {
    width: 510px;
    align-items: center;

    margin-top: 50px;
    margin-left: -10%;
    margin-right: 3%;

    padding: 2rem;

    border: 5px solid var(--white-600);

  }

  .form__container > h2 {
    align-self: flex-start;
  }

  .form__signup > input {
    width: 450px;
  }
  
  .form__button, .form__button--signup {
    width: 465px;
  }
}